@model IEnumerable<BugsMVC.Models.Locacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { controller = "Home" })"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Locaciones</li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Locaciones</h1>
        <p>
            @Html.ActionLink("Nueva Locación", "Create")
        </p>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Datos de Locaciones</div>
            <div class="panel-body">
                <table id="myTable" class="table table-striped table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Operador.Numero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Numero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MostrarUsuario)
                            </th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Operador.Numero)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Numero)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MostrarUsuario)
                                </td>

                                <td align="center" class="col-md-3">
                                    <a class="btn btn-info btn-xs" href="@Url.Action("Details", "Locacion", new { controller = "Locacion", id = item.LocacionID })">
                                        <i class="fa fa-search fa-lg"></i> Detalles
                                    </a>
                                    <a class="btn btn-primary btn-xs" href="@Url.Action("Edit", "Locacion", new { controller = "Locacion", id = item.LocacionID })">
                                        <i class="fa fa-pencil-square-o fa-lg"></i> Editar
                                    </a>
                                    <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", "Locacion", new { controller = "Locacion", id = item.LocacionID })">
                                        <i class="fa fa-trash-o fa-lg"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>
